<form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
  <div class="row flex-column no-gutters">
    <div class="form-group col-5">
      <label for="dishName">Name of the dish:</label>
      <input type="text" formControlName="dishName" id="dishName" class="form-control">
      <small class="invalid-form-text" *ngIf="fieldHasError('dishName', 'required')">Enter dish name!</small>
    </div>
    <div class="form-group col-5">
      <label for="dishDescription">Description:</label>
      <textarea formControlName="dishDescription" id="dishDescription" class="form-control"></textarea>
      <small class="invalid-form-text" *ngIf="fieldHasError('dishDescription', 'required')">Enter dish
        description!</small>
    </div>
    <div class="form-group col-5">
      <label for="dishImageUrl">Image:</label>
      <input type="text" formControlName="dishImageUrl" id="dishImageUrl" class="form-control">
      <small class="invalid-form-text" *ngIf="fieldHasError('dishImageUrl', 'required')">Enter dish image URL!</small>
    </div>
    <div class="form-group col-5">
      <label for="dishIngredients">Ingredients:</label>
      <textarea formControlName="dishIngredients" id="dishIngredients" class="form-control"></textarea>
      <small class="invalid-form-text" *ngIf="fieldHasError('dishIngredients', 'required')">Enter dish
        ingredients!</small>
    </div>
    <div class="form-group col-5 mb-0" formArrayName="steps">
      <div class="mb-3">
        <label>Steps:</label>&nbsp;
        <button type="button" class="btn btn btn-outline-info" (click)="addStep()">Add step</button>
      </div>
      <div class="form-group" *ngFor="let _ of getStepControls(); let i = index">
        <div [formGroupName]="i">
          <input type="text" formControlName="stepImageUrl" class="form-control mb-2" placeholder="Step image URL">
          <small class="invalid-form-text d-block mb-2" *ngIf="fieldHasError('stepImageUrl', 'required', i)">Enter step
            image URL!</small>
          <textarea formControlName="stepDescription" class="form-control mb-2"
                    placeholder="Step description"></textarea>
          <small class="invalid-form-text d-block mb-2" *ngIf="fieldHasError('stepDescription', 'required', i)">Enter
            step description!</small>
          <button type="button" class="btn btn-outline-danger">Delete step {{ i + 1 }}</button>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-info mb-5">
    <span *ngIf="!isUploading">Save</span>
    <span class="spinner-border spinner-border-sm" *ngIf="isUploading">
      <span class="sr-only">Loading...</span>
    </span>
  </button>
</form>
