<div class="card mb-4" style="width: 18rem;">
  <img
    style="width: 100%; height: auto"
    [src]="recipe.dishImageUrl"
    class="card-img-top" [alt]="recipe.dishName">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.dishName }}</h5>
    <p class="card-text">{{ recipe.dishDescription }}</p>
    <div class="row justify-content-end no-gutters">
      <a [routerLink]="['recipes', recipe.id]" class="btn btn-primary">View</a>&nbsp;
      <a [routerLink]="['recipes', recipe.id, 'edit']" class="btn btn-secondary">Edit</a>&nbsp;
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>

