<div class="row align-items-start">
  <div class="col">
    <h5 class="mb-3">Title</h5>
    <p class="mb-2">Description</p>
    <p class="mb-3"><strong>Ingredients: </strong></p>
    <h6 class="mb-3"><strong>Steps: </strong></h6>
    <ul class="pl-3">
      <li class="mb-2">
        <strong>Step 1</strong>
        <div class="mb-3">
          <p class="mb-2">Step description</p>
          <img style="max-width: 150px"
               src="https://img.freepik.com/free-psd/milk-bottle-mock-up_35913-1342.jpg?size=338&ext=jpg&ga=GA1.2.1998659399.1637798400"
               alt="">
        </div>
      </li>
    </ul>
  </div>
  <img class="col-4"
       style="width: 100%; height: auto"
       src="https://images.unsplash.com/photo-1514326640560-7d063ef2aed5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlzaHxlbnwwfHwwfHw%3D&w=1000&q=80"
       alt="">
</div>



