<div class="row align-items-start">
  <div class="col">
    <h5 class="mb-3">{{ recipe.dishName }}</h5>
    <p class="mb-2">{{ recipe.dishDescription }}</p>
    <p class="mb-3"><strong>Ingredients: </strong>{{ recipe.dishIngredients }}</p>
    <h6 class="mb-3"><strong>Steps: </strong></h6>
    <ul class="pl-3">
      <li class="mb-2" *ngFor="let step of recipe.steps; let i = index">
        <strong>Step {{ i + 1 }}</strong>
        <div class="mb-3">
          <p class="mb-2">{{ step.stepDescription }}</p>
          <img style="max-width: 150px"
               [src]="step.stepImageUrl"
               [alt]="'Step_' + (i + 1)  + '_img'">
        </div>
      </li>
    </ul>
  </div>
  <img class="col-4"
       style="width: 100%; height: auto"
       [src]="recipe.dishImageUrl"
       [alt]="recipe.dishName">
</div>



